<!DOCTYPE html>
{% extends 'layout.html' %}
{% block body %}

    <h3>Instructions</h3>
    <ol type="1">
        <li>Register an account first. An email is not required.</li>
        <li>Click 'Recommend' above to view your first fact or question.</li>
        <li>If it is a fact, all that is required is that you keep that information in mind.</li>
        <li>If it is a question, answer it to the best of your knowledge given the information presented so far.</li>
        <li>If it is a question, after you answer it, reveal the answer and click whether you answered correctly or incorrectly.</li>
        <li>If you do not know the answer, DO NOT SKIP IT. Answer it to the best of your knowledge.</li>
        <li>Continue pressing 'Recommend' until there are no more facts or questions left.</li>
        <li>Enter your username and the secret code provided on this page on Amazon Mturk.</li>
    </ol>

    <h3>Information</h3>
    <ul>
        <li>If the website does not load at first, give it a minute and refresh. It takes time for the database to initialize.</li>
        <li>There are 42 facts and 42 questions available. You will be shown 40 of the 84. Each is typically one sentence long.</li>
        <li>The expected time needed to complete this HIT is around 10 minutes.</li>
        <li>Most of these are statements about a fictional world that is different from the real one.</li>
        <li>The correct answer to a question can always be figured out using the available facts. However, these facts may not have been presented to you. Do the best you can with what you know so far.</li>
        <li>Rushing through the pages with no attempt to memorize facts or answer questions correctly will result in disqualification.</li>
    </ul>

{% endblock %}