{% extends "layout.html" %}

{% block body %}

    <h2>{{ username }}'s profile</h2>

    <h3>Recent facts:</h3>
        <ul class="posts">
            {% for row in facts %}
                <li>
                    <a href="{{ url_for('content.view_fact', fact_id=row.fact.id) }}"><b>{{ row.fact.title }}</b></a>
    	            by <a href="{{ url_for('base.profile', username=row.username) }}">{{ row.username }}</a>
    	            on {{ row.fact.date }}<br>

    	            <i>{{ ", ".join(row.tags) }}</i><br>
    	            {{ row.fact.text|truncate() }}
                </li>
            {% else %}
                <li>There aren't any facts yet</li>
        {% endfor %}
        </ul>

    <h3>Recent questions:</h3>
        <ul class="posts">
            {% for row in questions %}
                <li>
                    <a href="{{ url_for('content.view_question', question_id=row.question.id) }}"><b>{{ row.question.title }}</b></a>
    	            by <a href="{{ url_for('base.profile', username=row.username) }}">{{ row.username }}</a>
    	            on {{ row.question.date }}<br>

    	            <i>{{ ", ".join(row.tags) }}</i><br>
    	            {{ row.question.text|truncate() }}
                </li>
            {% else %}
                <li>There aren't any questions yet</li>
            {% endfor %}
        </ul>

{% endblock %}